html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.rowFills {
    margin-top:100px;
    margin-bottom:100px;
}

.myBorder { /*TEST*/
    border: 1px solid;
    border-radius: 5px;
    border-color: #AD9224;
}

.searchBarDiv {
    padding:10px;
}

.searchBar {
    border-radius: 10px;
    border-color: #242BAD;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), /* Minimal shadow on top */
    1px 0px 1px rgba(0, 0, 0, 0.1), /* Medium shadow on the right */
    -1px 0px 1px rgba(0, 0, 0, 0.1), /* Medium shadow on the left */
    0px 5px 10px rgba(0, 0, 0, 0.1); /* Strong shadow on the bottom */
}

.searchIconDiv {
    align-content:center;
    border-radius:10px;
}

.footerFarve {
    background-color: #242BAD;
    color: white;
    padding: 5px;
}

/*
    Primær: #242BAD 
    Sekunder: #4E9AD5
    Gul: #AD9224
*/

.navbar {
    background-color: #242BAD;
}

.nav-link { /*Hovedkategori*/
    color: white;
}

    .nav-link:hover { /*Hovedkategori hover*/
        color: white;
    }

.navbar.nav-item:hover { /*hovedkategori list item hover*/
    color: white;
    border-radius: 5px;
    border-color: #AD9224;
    background-color: #AD9224;
}

.dropdown-item { /* underkategori item */
    color: white;
}

    .dropdown-item:hover { /*underkategori item hover*/
        color: #AD9224;
        background-color: white;
    }

.navbar-toggler { /*knappen når skærmen er lille*/
    color: white;
    background-color: white;
}

.navbar-toggler-icon {
    color:blue;
    background-color:yellow;
}

.dropdown .dropdown-menu {
    display: none;
    background-color: #AD9224;
    color: white;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
