@page "/Home"
@rendermode InteractiveWebAssembly
@using NærByg.Client.Services
@inject APIService apiservice

@inject IJSRuntime JSRuntime

<PageTitle>Hjem</PageTitle>

<h1>Home</h1>

<img src="../wwwroot/Resources/Logo.svg" alt="Logo" width="60" height="60" class="rounded-pill mx-auto d-block">

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
