@page "/"
@rendermode InteractiveWebAssembly
@using NærByg.Client.Services

@inject IJSRuntime JSRuntime

<PageTitle>Hjem</PageTitle>

<div class="container text-center">
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row rowFills">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-1 col-md-2 "></div>
        <div class="col-10 col-md-8">
            <div class="row">
                <div class="col-10 col-sm-11 myBorder searchBarDiv">
                    <input class="form-control searchBar" id="searchFormControlInput" placeholder="Søg efter et produkt...">
                </div>
                <div class="col-2 col-sm-1 myBorder searchIconDiv">
                    <svg href="#" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </div>
            </div>
            <div class="row">
                <div class="col-12 myBorder p-1">
                    <div class="d-flex justify-content-between align-items-center m-2">
                        <label for="kmRange" class="form-label mb-0">Kilometer radius</label>
                        <label class="form-label mb-0">Valgt kilometer: <span id="kmValue">50</span> km</label>
                    </div>
                    <input type="range" class="form-range" min="0" max="100" step="1" id="kmRange" oninput="adjustSliderValue()">
                </div>
            </div>
        </div>
        <div class="col-1 col-md-2"></div>
    </div>

    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row rowFills">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>
</div>
<script>
    function adjustSliderValue() {
        const slider = document.getElementById('kmRange');
        const valueDisplay = document.getElementById('kmValue');
        let value = parseInt(slider.value);

        if (value <= 20) {
            value = Math.round(value / 2) * 2;
        } else if (value <= 50) {            
            value = Math.round(value / 5) * 5;
        } else {       
            value = Math.round(value / 10) * 10;

        }
        valueDisplay.innerText = value;
        slider.value = value;
    }
</script>

<!--
    <iframe
    width="1000"
    height="600"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/directions
        ?key=AIzaSyDKO6ebfn7HyqxC20WyE16paoRSZE86fQw
        &origin=NykøbingFalster+Denmark
        &destination=Ringsted+Denmark
        &avoid=tolls|highways"
    allowfullscreen>
    </iframe> -->
<!-- AIzaSyDKO6ebfn7HyqxC20WyE16paoRSZE86fQw -->
@code {

}
