@page "/NavMenu"
@rendermode InteractiveWebAssembly
@inject NavigationManager Navigation

<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">

        <img src="/resources/Logo_kopi.png" alt="Logo" width="60" height="60" class="rounded-pill mx-auto d-block">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <!-- Byggematerialer kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Byggematerialer
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Befæstelse</a></li>
                        <li><a class="dropdown-item" href="#">Gulv, loft & vægge</a></li>
                        <li><a class="dropdown-item" href="#">Døre & vinduer</a></li>
                        <li><a class="dropdown-item" href="#">Byggeplader</a></li>
                        <li><a class="dropdown-item" href="#">Træ & brædder</a></li>
                        <li><a class="dropdown-item" href="#">Konstruktion</a></li>
                        <li><a class="dropdown-item" href="#">Tag</a></li>
                        <li><a class="dropdown-item" href="#">Stiger & stilladser</a></li>
                    </ul>
                </li>
                <!-- Haven kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Haven
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Hegn</a></li>
                        <li><a class="dropdown-item" href="#">Havemøbler</a></li>
                        <li><a class="dropdown-item" href="#">Haveredskaber</a></li>
                        <li><a class="dropdown-item" href="#">Havemaskiner</a></li>
                        <li><a class="dropdown-item" href="#">Havebygninger</a></li>
                        <li><a class="dropdown-item" href="#">Haveindretning</a></li>
                        <li><a class="dropdown-item" href="#">Grill</a></li>
                        <li><a class="dropdown-item" href="#">Vanding</a></li>
                        <li><a class="dropdown-item" href="#">Beplantning</a></li>
                        <li><a class="dropdown-item" href="#">Skadedyr & ukrudt</a></li>
                    </ul>
                </li>
                <!-- Huset kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Huset
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Husholdning</a></li>
                        <li><a class="dropdown-item" href="#">Indretning</a></li>
                        <li><a class="dropdown-item" href="#">Hylder & ophæng</a></li>
                        <li><a class="dropdown-item" href="#">Flytning & opbevaring</a></li>
                        <li><a class="dropdown-item" href="#">Alarmer & sikkerhed</a></li>
                        <li><a class="dropdown-item" href="#">Borde</a></li>
                        <li><a class="dropdown-item" href="#">Postkasser & standere</a></li>
                        <li><a class="dropdown-item" href="#">Mosteri & syltning</a></li>                        
                    </ul>
                </li>
                <!-- VVS kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        VVS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Toilet</a></li>
                        <li><a class="dropdown-item" href="#">Vandhaner & armatur</a></li>
                        <li><a class="dropdown-item" href="#">Vaske</a></li>
                        <li><a class="dropdown-item" href="#">Varme & ventilation</a></li>
                        <li><a class="dropdown-item" href="#">Afløb & kloak</a></li>
                        <li><a class="dropdown-item" href="#">Rør & fittings</a></li>
                        <li><a class="dropdown-item" href="#">Vandbehandling</a></li>
                    </ul>
                </li>
                <!-- EL & belysning kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        EL & belysning
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Indendørsbelysning</a></li>
                        <li><a class="dropdown-item" href="#">Udendørsbelysning</a></li>
                        <li><a class="dropdown-item" href="#">Lyskilder</a></li>
                        <li><a class="dropdown-item" href="#">Smart home</a></li>
                        <li><a class="dropdown-item" href="#">Dørklokker</a></li>
                        <li><a class="dropdown-item" href="#">Arbejdsbelysning</a></li>
                        <li><a class="dropdown-item" href="#">Antenne, Data & TV</a></li>
                        <li><a class="dropdown-item" href="#">Batterier</a></li>
                    </ul>
                </li>
                <!-- Maling & kemi kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Maling & kemi
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Udendørsmaling</a></li>
                        <li><a class="dropdown-item" href="#">Indendørsmaling</a></li>
                        <li><a class="dropdown-item" href="#">Malerudstyr</a></li>
                        <li><a class="dropdown-item" href="#">Rengøring & kemikalier</a></li>
                        <li><a class="dropdown-item" href="#">Spartel- & fugemasse</a></li>
                        <li><a class="dropdown-item" href="#">Lim</a></li>
                        <li><a class="dropdown-item" href="#">Vægbeklædning</a></li>
                    </ul>
                </li>
                <!-- Værktøj kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Værktøj
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Elværktøj</a></li>
                        <li><a class="dropdown-item" href="#">Håndværktøj</a></li>
                        <li><a class="dropdown-item" href="#">Opbevaring af vørktøj</a></li>
                        <li><a class="dropdown-item" href="#">Øvrige maskiner</a></li>
                        <li><a class="dropdown-item" href="#">Skovredskaber</a></li>
                        <li><a class="dropdown-item" href="#">Baljer & Spande</a></li>
                    </ul>
                </li>
                <!-- Bil & fritid kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bil & fritid
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Autoudstyr</a></li>
                        <li><a class="dropdown-item" href="#">Cykeludstyr</a></li>
                        <li><a class="dropdown-item" href="#">Camping</a></li>
                        <li><a class="dropdown-item" href="#">Dyreartikler</a></li>
                        <li><a class="dropdown-item" href="#">Elektronik</a></li>
                        <li><a class="dropdown-item" href="#">Leg & underholdning</a></li>
                        <li><a class="dropdown-item" href="#">Sport & fritid</a></li>
                        <li><a class="dropdown-item" href="#">Tøj & sko</a></li>
                    </ul>
                </li>
            </ul>           
        </div>
    </div>
</nav>

@code {

}
